/* -----------------------------------------------------------------------------
   Global buttons.
   -------------------------------------------------------------------------- */
.btn {
  color: rgba(3, 169, 244, 0.9);
  background-color: #fff;
  transform: translate3d(0, 0, 0) skew(-5deg) rotate(-5deg);
  text-decoration: none;
  padding: 25px 30px;
  text-transform: uppercase;
  border: 1px solid rgba(3, 169, 244, 0.9);
  //background-color: transparent;
  transition: all .2s ease-in-out;
  position: relative;
  outline: 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(3, 169, 244, 0.9);
    transform: translateY(7px) translateX(-7px);
    transition: all .2s ease-in-out;
  }

  &:after {
    content: attr(data-icon);
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }

  &:hover {
    border: 1px solid rgba(3, 169, 244, 1);

    &:before {
      border: 1px solid rgba(3, 169, 244, 1);
      background-color: rgba(3, 169, 244, 0.5);
    }

    &:after {
      color: #fff;
    }
  }
}
