.intro {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity .5s ease-in-out;

  &.active {
    opacity: 1;
  }
}

.band {
  position: absolute;
  top: 40vh;
  transform: translateY(-50%);
  width: 100%;
  //padding: 40px 0;
  transition: top 1s ease-in-out;

  &.active {
    top: 10vh;
    transition: top 1s 4s ease-in-out;
  }

  video {
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 0;
    width: 100%;
    transform: translateY(-50%);
  }

  .video_container {
    position: relative;
    width: 100%;
    padding-top: 30%;
    transform: scale(1);
    transition: all 1s ease-in-out;

    &.active {
      transform: scale(.5);
      transition: all 1s 4s ease-in-out;

      .text--transparent {
        fill: rgba(3, 169, 244, .9);
      }

      .video-fill {
        opacity: 0;
        visibility: hidden;
      }

      #svg2 rect {
        fill: transparent;
      }
    }
  }

  .video-fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    transition: all 1s 3s ease-in-out;
  }

  #svg1 {
    overflow: hidden;
    width: 0;
    height: 0;
  }

  #svg2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
  }

  mask > rect {
    fill: white;
  }

  #svg2 rect {
    fill: rgba(0, 0, 0, .8);
    transition: all 1s 3s ease-in-out;
  }

  .text--transparent {
    fill: transparent;
    transition: all 3s ease-in-out;
  }

}

.btn_start {
  position: absolute;
  color: #000;
  z-index: 100;
  bottom: 10%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) skew(-5deg) rotate(-5deg);
  text-decoration: none;
  padding: 15px 50px;
  text-transform: uppercase;
  border: 2px solid #000;
  background-color: transparent;
  transition: all .5s ease-in-out;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid rgba(0, 0, 0, 1);
    transform: translateY(-7px) translateX(7px);
    transition: all .5s ease-in-out;
  }

  &:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 1);

    &:before {
      border: 2px solid #fff;
    }
  }
}
